<div>
  <h1>
    <%= typeof (book.title != "undefined" )? book.title :"" %>
  </h1>
</div>
<div><img height="150" width="100" src="<%= book.coverImagePath %>" /></div>
  <a href="/books/<%= book.id %>/edit">Edit</a>
  <%- include('../partials/deleteForm', {url: `/books/${book.id}`}) %>
</div>